<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flow_Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Flow_Control.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="CPUName" serializeAs="String">
                <value />
            </setting>
            <setting name="CPUID" serializeAs="String">
                <value />
            </setting>
            <setting name="ACProfile" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PowerFix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BatLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Boot" serializeAs="String">
                <value>False</value>
            </setting>
        </Flow_Control.Properties.Settings>
    </userSettings>
</configuration>